.resi-card {
    background-color: white;
    border: solid 3px #008080;
    border-radius: 10px;
    color: #008080;
    margin: 5px;
    padding: 12px;
    width: 200px;

}

.cancel-btn {
    background-color: #008080;
    border: none;
    color: white;
    height: 30px;
    width: 120px;
}